canvas {
  position: absolute;
  top: 0;
  z-index: -99999;
}

.parent {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.pads-container {
  width: 400px;
  margin: 0 auto;
}

.pad {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin: 5px;
  background-color: black;
  border: 1px solid red;
  box-sizing: border-box;
}

.pad.on {
  background: radial-gradient(blue, lightblue);
  border: 3px solid orange;
}

.circle0, .circle1, .circle2, .circle3, .circle4, .circle5 {
  background-color: purple;
  width: 1em;
  height: 1em;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
}

.shake {
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -animation-duration: 10s;
}
